FitNesseRoot/ErrorLogs/FrontPage/TestControlTestSuite/StandardControlsTestSuite/content.txt
FitNesseRoot/files/testResults/FrontPage.TestControlTestSuite.StandardControlsTestSuite.Example01TextBox/20150102214327_1_0_0_0.xml